td{color:#000000;
font-size:15;
font-style:normal;
font-weight:bold;
font-family:serif,Arial,Times;
text-align:center;
text-indent:2;
margin-bottom:0;
margin-top:0;
}
input{color:#000000;
font-size:12;
font-style:normal;
font-weight:normal;
font-family:Arial,serif,Times;
text-align:center;
text-indent:2;
margin-bottom:0;
margin-top:0;
}
h3{color:#484aaa;
font-size:30;
font-style:italic;
font-weight:bold;
font-family:serif,Arial,Times;
text-align:center;
}
div.H{font-weight: bold;
font-family:serif,Times,Arial;
text-align: justify;
text-indent: 30px;
margin-bottom: 0px;
margin-top:0px;
width:95%;
margin-left:30px;
}
span{color:#484aaa;
font-size:14;
font-style:normal;
font-weight:bold;
font-family:serif,Times,Arial;
text-align:left;
}
