button {
    background-color: #fff;
    border: 0;
    outline: 0;
    width: 70px;
    height: 26px;
    padding-left: 7px;
    font-size: 1rem;
    font-family: san-serif;
    font-weight: bold;
    box-shadow: 0px 5px 10px #0057ab;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid #d9d9d9;
}

button:hover {
    box-shadow: 0px 15px 25px -5px #0057ab;
}